.pageTitle {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: grey;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgTextName {
  position: absolute;
  font-size: 2rem;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px grey;
  margin-left: 150px;
  margin-top: 10px;
}

.bgTextPhoto {
  position: absolute;
  font-size: 2rem;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px grey;
  margin-left: 50px;
  margin-top: 50px;
}
